.project-card {
  box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px !important;
  height: 100% !important;
}

.project-header {
  display: flex;
  align-items: center;
}

.subheader {
  vertical-align: middle;
}

.avatar {
  color: white;
}

.description-wrapper {
  vertical-align: middle;
}

.description-wrapper,
.summary-repo {
  font-family: Roboto;
  font-weight: 100;
}

.title-name {
  color: white;
}

.title-description {
  font-size: 24px;
  color: black;
  margin-top: 0;
}

.description {
  color: black;
  font-size: 14px;
  font-weight: 900;
}

.project-repo {
  color: #ff9800;
  font-weight: bold;
}

.expand-more-label {
  font-size: 16px;
  color: black;
  font-weight: 900;
  margin: 15px;
  vertical-align: middle;
}

.divider {
  border-bottom: 1px solid white;
  margin-top: 15px;
  margin-bottom: 15px;
}

.summary-repo {
  display: flex;
  flex-direction: column;
  color: black;

  span {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 8px;
  }
}

.card-header-icon {
  width: 15px !important;
  height: 15px !important;
}

@-webkit-keyframes expandIcon {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes expandIcon {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.expand-icon {
  -webkit-animation-name: expandIcon;
  animation-name: expandIcon;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes collapseIcon {
  from {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes collapseIcon {
  from {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.collapse-icon {
  -webkit-animation-name: collapseIcon;
  animation-name: collapseIcon;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-icon-buttons {
  display: flex;
  align-items: center;
}

.title-icon-button {
  background-color: white !important;
}

.expand {
  width: 27px;
  height: 27px;
}

.view-readme {
  width: 26px;
  height: 26px;
}
