.timeline {
  width: 60%;
  background-color: #fdfdfd;
  border-radius: 40px;
  box-shadow: inset 0px 0px 18px -9px #858585bd;
  margin: 20px;
}

.timeline-date {
  font-size: 24px !important;
  color: black !important;
  font-weight: bold !important;
  padding-top: 0 !important;
}
