.summary-language-chart-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-weight: 100;
}

.summary-language-chart-title {
  color: black;
  font-size: 16px;
  font-weight: 900;
}

.summary-language-chart {
  display: flex;
  margin: 5px;
}

.summary-language-none-found {
  color: black;
  font-size: 14px;
  margin-top: 10px;
}

.summary-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  height: 200px;
  margin: 10px;
}

.summary-legend-lang {
  font-size: 14px;
  font-family: 'Roboto';
}
