$typescript: #3178c6;
$java: #0074bd;
$dotnet: #6d429c;
$angular: #dd0031;
$react: #61dafb;
$node: #3e863d;
$spring: #6db33f;
$posgresql: #35688f;

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.section-header {
  text-align: center;
  color: #1f1f1f;
}

.technologies,
.languages {
  display: flex;
  margin-top: 20px;
}

.technology-card,
.language-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 10px;
  padding: 20px;

  img {
    width: 100px;
    margin-top: 20px;
  }
}

.technology-name,
.language-name {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.typescript {
  color: $typescript;

  span {
    font-weight: bold;
  }
}

.java {
  color: $java;
}

.dotnet {
  color: $dotnet;
}

.angular {
  color: $angular;
}

.node {
  color: $node;
}

.react {
  color: $react;
}

.spring {
  color: $spring;
}

.postgresql {
  color: $posgresql;
}

.others {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  img {
    margin: 20px;
  }
}

.other {
  width: 40px;
}

.card-title-divider {
  height: 1px;
  border: 1px solid grey;
}
